{% extends "base.html" %}

{% block app_content %}

    <form action="{{ url_for('live') }}" method="post">
      <div class="form-floating">
        <input name="width" value="15" class="form-control" id="floatingInput" placeholder="width" required>

      </div>
      <div class="form-floating">
        <input name="height" value="15" placeholder="height" class="form-control" id="floatingPassword" required>
      </div>
        <div class="form-floating">
      <button class="button1" type="submit">Создать жизнь</button>
            </div>
    </form>

{% endblock %}