{% extends "base.html" %}

{% block content %}
<div class="content">
    <div><a class="btn btn-warning home button1" href="{{ url_for('index') }}">На главную</a></div>


    <div><a class="btn btn-info refresh button1" href="{{ url_for('live') }}">Создать новую жизнь</a></div>
    <br>
    <div class="counter">{{game._counter}}</div>
    </div>

{% block app_content %}
<table class="world">
    {% for i in  range(game.world|length) %}
        <tr>
            {% for j in  range(game.world[i] | length) %}
                {% if game.world[i][j] == 1 %}
                    <td class="cell living-cell"></td>
                {% elif game.world[i][j] == 0 and game.old_world[i][j] == 1 %}
                    <td class="cell dead-cell"></td>

                {% else %}
                    <td class="cell"></td>
                {% endif %}
            {% endfor %}
        </tr>

    {% endfor %}
</table>

{% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    setInterval(() => window.location.reload(), 1000);
</script>
{% endblock %}